body {
  background: black;
  color: white;
  font-family: Geologica, Comic Sans MS, sans-serif;
  padding: 1rem;
  font-variation-settings: 'wght' 400;
}
tr > td:first-child > :is(em, code) {
  background: white;
  padding: 0.2rem;
  border-bottom: 0.15rem solid rgb(165 165 165);
  font-variation-settings: 'wght' 800;
}
tr > td:first-child > em {
  color: rgba(0, 0, 0, 0.9);
}
tr > td:first-child > code {
  color: red;
}
tr > td:not(:first-child) > code {
  font-variation-settings: 'wght' 600;
}
table {
  border-collapse: collapse;
}
tr > td {
  padding: 0.5rem;
}
tr:nth-child(even) {
  background: color(srgb 0.58 0.54 1 / 0.10);
}
tr > td:first-child {
  white-space: nowrap;
  user-select: none;
}
tr > td:last-child {
  max-width: 40rem;
}
