<head>
  <style>
    @font-face {
      font-family: 'Geologica';
      src: url('{{{fontDataUrl}}}') format('truetype');
    }
  </style>
  <style>
    {{{style}}}
  </style>
</head>
<body>
  {{{showdownContent}}}
</body>