<head>
  <style>
    :root {
      --font-data-url: '{{{fontDataUrl}}}';
    }
    @font-face {
      font-family: 'Geologica Text';
      src: local('Geologica'), local('Geologica Flex'), url(var(--font-data-url));
      font-variation-settings: 'wght' 400;
    }
    @font-face {
      font-family: 'Geologica Key';
      src: local('Geologica'), local('Geologica Flex'), url(var(--font-data-url));
      font-variation-settings: 'wght' 900;
    }
  </style>
  <style>
    {{{style}}}
  </style>
</head>
<body>
  {{{showdownContent}}}
</body>