<head>
  <style>
    @font-face {
      font-family: 'Geologica';
      src: local('Geologica') local('Geologica Flex') url('{{{fontDataUrl}}}');
    }
  </style>
  <style>
    {{{style}}}
  </style>
</head>
<body>
  {{{showdownContent}}}
</body>