<head>
  <style>
    body {
      background: black;
      color: white;
      font-family: Rubik, Ubuntu, sans-serif;
      padding: 1rem;
    }
    td > code {
      background: white;
      padding: 0.2rem;
      color: rgba(0, 0, 0, 0.9);
      font-weight: 900;
    }
    table {
      border-collapse: collapse;
    }
    tr > td {
      padding: 0.5rem;
    }
    tr:nth-child(even) {
      background: color(srgb 0.58 0.54 1 / 0.10);
    }
    tr > td:first-child {
      white-space: nowrap;
    }
    tr > td:last-child {
      max-width: 40rem;
    }
  </style>
</head>
<body>
  {{{showdownContent}}}
</body>