<head>
  <style>
    @font-face {
      font-family: 'GeologicaFlex';
      src: local('Geologica') tech('variations'),
           local('Geologica Flex') tech('variations'),
           url('{{{fontDataUrl}}}') tech('variations')
    }
  </style>
  <style>
    {{{style}}}
  </style>
</head>
<body>
  {{{showdownContent}}}
</body>